week2/homework/quiz_05.yaml
id: count_row_for_1
namespace: zoomcamp

inputs:
  - id: taxi
    type: SELECT
    displayName: Select taxi type
    values: [yellow, green]
    defaults: yellow

  - id: year
    type: SELECT
    displayName: Select year
    values: ["2019", "2020", "2021"]
    defaults: "2021"

  - id: month
    type: SELECT
    displayName: Select month
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    defaults: "01"
  

variables:
  file: "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv"

tasks:
  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner: 
      type: io.kestra.plugin.core.runner.Process
    commands:
      - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv.gz | gunzip > {{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv

  - id: ingest_to_duckdb
    type: io.kestra.plugin.jdbc.duckdb.Query
    inputFiles:
      taxi.csv: "{{outputs.extract.outputFiles[inputs.taxi ~ '_tripdata_' ~ inputs.year ~ '-' ~ inputs.month ~ '.csv']}}"
    sql: |
      SELECT count(*) as total FROM read_csv_auto('{{workingDir}}/taxi.csv');
    fetchType: FETCH_ONE
    
  - id: log_total
    type: io.kestra.plugin.core.log.Log
    message: |
      New rows found: {{ outputs.ingest_to_duckdb.row.total }}

